*.pyc
include/*.pyc
dev/
.vscode/
.venv
.venv38
.idea
logs/*/Analysis/
images
training_29_06_2023
training_30_06_2023
.ipynb_checkpoints
*.ipynb
pyenv.cfg
.python-version
trained/
deformable_training_02_07_2023